<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">
	
<head>
	
<meta charset="UTF-8">

<title>シフト申請画面</title>


    <link rel="stylesheet"
	 th:href="@{/css/shiftRequest.css} " 
	 href="/css/shiftRequest.css">

</head>



<body>

	<p th:if="${message}"
	   th:text="${message}"
	   class="success-message">
	</p>
	
	<div class="period-box">		
		
	    <div class ="period-title">
	        対象期間
	    </div>

	    <div class="period-value"
			th:text = "${form.targetPeriod}">
	    </div>

	</div>

    <br>
	
	<form th:object = "${form}" 
		  th:action = "@{/shiftRequest/apply}"
		  method = "post">

    <table>

        <tr>
            <th>日付</th>
            <th>可否</th>
            <th>出勤</th>
            <th>退勤</th>
        </tr>

		<tr th:each="shift, stat : ${form.shiftList}">
			
			<td>

			    <span th:text="${shift.workDate}"></span>

			    <input type="hidden"
			           th:field="*{shiftList[__${stat.index}__].workDate}">

			</td>

			
			<td>
				<select th:field="*{shiftList[__${stat.index}__].available}">
					<option value = "">選択してください</option>
				    <option value = "○">○</option>
				    <option value = "×">×</option>
				</select>
			</td>

			<td>
				<input type="time"
				       th:field="*{shiftList[__${stat.index}__].startTime}">
			</td>

			<td>
				<input type="time"
				       th:field="*{shiftList[__${stat.index}__].endTime}">
			</td>

		</tr>

    </table>

    <br>

	
	
<div class = "button-area">
	
    <button type="button">
        キャンセル
    </button>
	
	
    <button type = "submit">
		申請
    </button>
	
	
</div>
	
</form>

</body>

</html>